page-welcome {
.img-slide{
  width:240px;
}
.img-slide1{
  background: url("assets/imgs/testeback.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.fonte{
  font-family: fantasy, luminari;
  font-size: 17px;

}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
}
